*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 370px;
    overflow-x: hidden;
    align-content: center;
}
.nav-bar1{
    width: 320px;
}
.brand{
    margin-top: 20px;
    display: none;
     padding: 0 5%;
     align-content: center;
}
.hamburger{
    position: relative;
    left: 50%;
    display: inline-block;
}
#navbar-div{
background: rgba(0 , 0 , 0 ,0.96);
height: 100vh;
width: 100%;
position: absolute;
top: 0;
z-index: +1;
display: inline;

align-content: center;

}
.mobile-nav-icon{
width: 80%;
margin: 30px auto 10px;

}
.nav-logo{
   width: 120px; 
    
}
.close{
    margin-left: 35%;
    margin-top: 5px;
    color: white;
    
}
.list-items {
    list-style:none;
    padding-top: 30px;
    
}
.list-items-1{
    display: none;
}
.list-items li {
    text-align: center;
       
}
.list-items hr {
    border: rgb(88, 88, 88) 0.5px solid ;
    width: 87.5%;
    margin: 0 auto;
    
}

.list-items a {
    text-decoration: none;
    line-height: 5;
    margin-left: 0 ;
    color: white;
    text-align: center;
    font-size: 14px;
}
.list-items a:hover {
    color: rgb(88, 88, 88) ;
}
.list-items .last-li{
    
    border: 1px solid rgb(197, 197, 197);
      padding: 5px 40%; 
      border-radius: 10%;
}



/* for the first section */
.first-image{
    width: 300px;
    margin: 50px 0 20px 0;
    position: relative;
    left: 56px;
}
.hero{
width: 100%;
}
.first-bg{
    width: 230px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 141px;
    

}
.simple-button {
    padding: 5px;
    background: rgb(71, 71, 226);
    border: 1px solid  rgb(71, 71, 226);
    box-shadow: 2px 2px #cccccc;
    border-radius: 10%;
    color: white;
    font-size: 12px;
    margin-right: 3px;
    
    
}

 .simple-button-1{
    padding: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid  rgb(236, 236, 236);
    box-shadow: 2px 2px #cccccc;
    border-radius: 10%;
    font-size: 12px;
    margin-left: 3px;
}
 .row{
    width: 370px;
    margin:0 auto;
    
}

 .bookmark , .features {
width: 90%;
padding: 10%;
text-align: center;
margin: 0 auto;

}
/* dropdown */
.drop-down-area{
    text-align: center;
    line-height: 2em;
}
.drop-down-area a {
    font-size: 14px;
    color: black;
}
.drop-down-area a:hover {
  
    color: rgb(126, 124, 238);
    text-decoration: none;
}
.underline{
border: 2px solid red;
width: 100px;
margin: 5px  auto 0;
}

.hr{
margin: 0;
display: inline;
}

.second-image{
    width: 300px;
    margin: 40px 0 20px 0;
    position: relative;
    left: 10px;
}
.second-bg{
    width: 230px;
    height: 150px;
    position: absolute;
    top: 130px;
   left: 0;
}

.bookmark1  {
    margin: 50px 0;
}
.bookmark  button{
    font-size: 12px;
}
.bookmark  h2{
    font-size: 20px;
}
.bookmark  p{
    font-size: 12px;
}
.web-browser{
    padding: 20px auto;
}
h3 , h5{
    font-size: 16px;
}
p{
    font-size: 12px;
    color: #a1a1a1;
}
h1 , h2 {
    font-size: 24px;
}

.line{
    width: 90%;
    margin-top: 0;
}
.browser{
    width:150px;
    height: 200px;
    margin: 20px auto;
    border-radius: 5%;
    padding: 8px;
    text-align: center;
    line-height: 1.5;
    box-shadow:   0.3px 2px 2px 2px rgb(222, 221, 230);
    
    
}
.browser p {
margin-bottom: 0;
   
}
.logo{
    width: 70px;
}

.browser-button{
    width: 90%;
    font-size: 10px;
    padding: 5px;
    background: rgb(71, 71, 226);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(71, 71, 226) ;
    
    
}

.web-browsers .row {
    width: 300px;
    align-content: center;
    margin: 10px auto;
}
/* frequently asked questions */
/* .frequently-asked-question{
    
} */
.questions {
 width: 340px;
 margin: 0 auto;
}
.questions h5 {
    font-size: 14px;
   }
   .questions p {
    font-size: 12px;
    color: #b9b9b9;
   }
.drop-button1 , .drop-button2 , .drop-button3 , .drop-button4{
position: relative;
left: 19.5em;
bottom: 2em;

}
.close1 , .close2 , .close3 , .close4 {
    position: relative;
    left: 19.5em;
    bottom: 2em;
    
    }
    .hr2{
        margin:7px 0 7px;
    }
    .question{
        height: 30px;
    }
    .questions button{
        font-size: 12px;
        margin: 12px 140px;
        width:80px;
    }

.fifth-section{
    text-align: center;
    background: rgb(71, 71, 226);
    line-height: 40px;
    padding: 30px 0;
    color: white;
}
.fifth-section input {
    padding:  2px 2px;
    background: white;
    width: 70%;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px tomato solid;
}
.fifth-section h4 {
   font-size: 16px;
}
.fifth-section h2 {
    font-size: 24px;
 }

.fifth-section button {
    text-align: center;
    background: rgb(238, 81, 53);
    padding: 2px 0;
    color: white;
    width: 70%;
    border-radius: 5px;
    border: 1px tomato solid;
    margin-bottom: 10px;
}

.sixth-section{
    text-align: center;
    background: rgb(25, 0, 53);
    padding: 20px 0 ;
    line-height: 40px;
    color: white;
    font-size: 14px;
}


footer{
    line-height: 20px;
    text-align: center;
    color: white;
    background: rgb(25, 0, 53);
}
footer p {
   font-size: 8px;
}
.facebook , .twitter {
    margin: 0 10px;
}

/* the Desktop verson of the web page */






@media only screen and ( min-width: 990px){

body{
    max-width: 1400px;
    overflow-x: visible ;
    margin: 25px auto 0;

}

.brand{
    margin: 30px auto;
    display: inline;

    
}
.first-logo{
    margin-left: 50px;
}

.hamburger{
   display: none;
}

.list-items-1 {
    list-style:none;
    display: inline;
    margin-left:  33rem; 
    
}

.list-items-1 li {
  display: inline;
  margin-left: 8px;
       
}

.list-items-1 a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size: 14px;
    font-weight: 100;

}

 .list-items-1 a:hover {
       color: rgb(88, 88, 88) ;
}

.list-items-1 .last-li{
    background-color: rgb(218, 49, 19);
    border: 1px solid rgb(218, 49, 19);
      padding: 2px 7px ; 
      border-radius: 10%;
      color: white;
}
.list-items-1 .last-li:hover
{
    
      background-color: rgba(216, 152, 152, 0.5);
} 

/* for the first section */
.first-section{
    margin-top: 70px;
}
.first-image{
    width: 450px;
    margin: 50px 0 20px 0;
    position: relative;
    top: 40px;
    left: 600px;
    
}
.hero{
width: 100%;
}
.first-bg{
    width: 270px;
    height: 180px;
    position: absolute;
    top: 220px;
    left: 800px;
    
}
.simple-bookmark{
    position: relative;
    right: 530px;
    top: 90px;
    width: 480px;
    text-align: left;
}
.simple-bookmark h1{
   font-size: 30px;
}
.simple-bookmark p{
    font-size: 16px;
 }
 .simple-bookmark button{
    font-size: 20px;
    padding: 4px 6px;
 }
.row{
    width: 90%;
}
.second-image{
    width: 400px;
    margin: 40px 0 20px 0;
    position: relative;
    left: 3px;
}
.second-bg{
    width: 400px;
    height: 180px;
    position: absolute;
    top: 200px;
   left: -55px;
}

.features{
   width: 400px;
   text-align: center;
   padding: 0;
   margin: 100px auto;

}
.features h2 {
    font-size: 30px;
    
}
.features p {
    font-size: 16px;
    width: 400px;
}

.bookmark-hr{
    border: 0.6px solid #dfdfdf;
    width: 80%;
    margin: 0 auto;
}
.hr{
    display: none;
}
.underline{
    width: 200px;
}
.bookmark1 , .bookmark2 , .bookmark3{
    text-align: left;
}
.bookmark h2{
    font-size: 30px;
}
.bookmark p{
    font-size: 16px;
}
.bookmark button{
    font-size: 16px;
}

.first-image{
    width: 450px;
    margin: 50px 0 20px 0;
    position: relative;
    top: 40px;
    left: 600px;
    
}

/* second image section */

.second-image{
    width: 420px;
    margin: 50px 0 20px 0;
    position: relative;
    top: 20px;
    left: 60px;
    
}
.Second-bg{
    width: 220px;
    height: 180px;
    position: absolute;
    top: 230px;
  
    
}
.download{
    width: 400px;
    padding: 0;
    margin: 100px auto;
}
.web-browsers .row{
width: 90%;
}
.browser{

    width: 200px;
    height: 250px;
}
.browser h3{
    font-size: 24px;
}
.browser p{
font-size: 16;
}
.browser button{
  border-radius: 5%;
  font-size: 14px;
  padding: 8px 5px;
}
.logo{
    width: 100px;
}
.line{
    margin: 15px 0;
}
.browser2{
    margin-top: 70px;
}
.browser3{
    margin-top: 140px;
}
.Frequently-asked-questions{
    width: 400px;
    margin: 20px auto;
}
.questions{
    width: 400px;

}
.questions button{
    padding: 5px 6px ;
    font-size: 16px;
    width: 100px;
    margin: 20px 150px;
    background-color: rgb(46, 46, 253);
 

}
.drop-button1 , .drop-button2 , .drop-button3 , .drop-button4{
    position: relative;
    left: 23.5em;
    bottom: 2em;
    
    }
 .close1 , .close2 , .close3 , .close4 {
      position: relative;
     left: 23.5em;
    bottom: 2em;
        
  }
}
